<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>@ViewBag.Title</title>
    <!--Link icon-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />

    <link href="~/Scripts/Admin/css/styles.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>
<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3" href="index.html">Start Bootstrap</a>
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
        <!-- Navbar Search-->
        @*<form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
            <div class="input-group">
                <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
            </div>
        </form>*@
        <!-- Navbar-->
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    @*<li><a class="dropdown-item" href="#!">Settings</a></li>
                    <li><a class="dropdown-item" href="#!">Activity Log</a></li>
                    <li><hr class="dropdown-divider" /></li>*@
                    <li><a class="dropdown-item" href="~/Admin/Login/LogoutAd">Logout</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">

                        <a class="nav-link" href="~/Admin/Home/Index">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Trang chủ
                        </a>



                        <a class="nav-link" href="~/Admin/User/Index">
                            <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                            Quản lý User
                        </a>
                        <a class="nav-link" href="~/Admin/ProductCategory/Index">
                            <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                            Quản lý danh mục SP
                        </a>

                        <a class="nav-link" href="~/Admin/Product/Index">
                            <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                            Quản lý Sản phẩm
                        </a>
                        <a class="nav-link" href="~/Admin/Order/Index">
                            <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                            Quản lý đơn hàng
                        </a>

                        <a class="nav-link" href="~/Admin/Author/Index">
                            <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                            Quản lý tác giả
                        </a>




                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small">Logged in as:</div>
                    Start Bootstrap
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">

            @* view Home biểu đồ *@
            @RenderSection("Home", false)
            @* end view Home biểu đồ *@


            @* view quản lý User  *@
            @RenderSection("User", false)
            @* end view quản lý user *@


            @* view danh mục sản phẩm *@
            @RenderSection("ProductCategory", false)

            @* end view danh mục sản phẩm *@








            @if (TempData["AlertContent"] != null)
            {
<div id="AlertBox" class="alert  @TempData["AlertMessage"] hide">
    @TempData["AlertContent"]

</div>}


            @RenderBody()






            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Your Website 2023</div>
                        <div>
                            <a href="#">Privacy Policy</a>
                            &middot;
                            <a href="#">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>

    <script src="~/Scripts/jquery.validate.min.js"></script>

    <script src="~/Scripts/Admin/js/scripts.js"></script>
    <script src="~/Assets/plugins/ckfinder/ckfinder.js"></script>
    <script src="~/Assets/plugins/ckeditor/ckeditor.js"></script>

    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>*@

    @*<script src="~/Scripts/Admin/assets/demo/chart-area-demo.js"></script>

        <script src="~/Scripts/Admin/assets/demo/chart-bar-demo.js"></script>*@

    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
    <script src="~/Scripts/Admin/Controller/AlertMessage.js"></script>

    <script src="~/Scripts/Admin/js/datatables-simple-demo.js"></script>


    @RenderSection("jsFooter", false)
</body>
</html>
