@model Web_Sach.Models.EF.Register
@*@using BotDetect.Web.Mvc;

<link href="@BotDetect.Web.CaptchaUrls.Absolute.LayoutStyleSheetUrl"
      rel="stylesheet" type="text/css" />

@{
    MvcCaptcha registerCaptcha = new MvcCaptcha("registerCaptcha");
  
}*@
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Latest compiled JavaScript -->
    <style>
        body {
            background-color: #ccc;
        }
    </style>
</head>
<body>

    <div id="wrap">
        <div class="container  w-50 mt-5">
            <div class="row justify-content-around " id="register">
                <h1 class="text-center text-uppercase h3">Đăng ký tài khoản</h1>
                @using(Html.BeginForm("Register", "User", FormMethod.Post))
                {
            <div class="form-group">
               
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @if (ViewBag.Success != null)
                {
                    <div class=" alert alert-success">@ViewBag.Success</div>
                }

            </div>


            <div class="form-horizontal  ms-5">
                @Html.AntiForgeryToken()

                <div class="form-group m-3">
                    @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2", @style = "margin:3px;width:100%" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", @style = "width:100%" })
                        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group  m-3">
                    @Html.LabelFor(model => model.Password, new { @class = "control-label col-md-2", @style = "margin:3px" })
                    <div class="col-md-10">
                        @Html.PasswordFor(model => model.Password, new { @class = "form-control", @style = "width:100%" })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group  m-3">
                    @Html.LabelFor(model => model.ConfirmPassword, new { @class = "control-label col-md-2", @style = "width:100% ; margin:3px;" })
                    <div class="col-md-10">
                        @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control", @style = "width:100%" })
                        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group  m-3">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2", @style = "margin:3px" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @style = "width:100%" })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group  m-3">
                    @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2", @style = "margin:3px" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.Address, new { @class = "form-control", @style = "width:100%" })
                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group  m-3">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2", @style = "margin:3px" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @type = "email", @style = "width:100%" })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group  m-3">
                    @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-2", @style = "margin:3px" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.Phone, new { @class = "form-control", @style = "width:100%", @type = "tel", @pattern = "[0-9]{3} [0-9]{3} [0-9]{4}", @placeholder = "035 236 4444" })
                        @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group m-3">
                    @Html.LabelFor(model => model.GioiTinh, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 mt-1 mb-3">
                        <div class="radiobox d-flex">
                            <div class="form-check">
                                @Html.RadioButtonFor(model => model.GioiTinh, "Nam", new { @id = "namRadio", @name = "gender", @class = "form-check-input", @checked = "checked" })
                                <label for="namRadio" class="form-check-label ms-2 me-2">Nam</label>
                            </div>
                            <div class="form-check">
                                @Html.RadioButtonFor(model => model.GioiTinh, "Nữ", new { @id = "nuRadio", @name = "gender", @class = "form-check-input" })
                                <label for="nuRadio" class="form-check-label ms-2 me-2">Nữ</label>
                            </div>
                        </div>
                        @Html.ValidationMessageFor(model => model.GioiTinh, "", new { @class = "text-danger" })
                    </div>
                </div>
                @*<div class="form-group m-3">

                    @Html.Captcha(registerCaptcha)
                    @Html.TextBox("CaptchaCode")


                    <br />
                   


                </div>*@

                <div class="form-group  m-3">
                    <div class="row ">
                        <div class="col-md-6 text-center">
                            <button type="submit" class="btn btn-dark">Đăng ký</button>
                        </div>
                        <div class="col-md-6 text-center">

                            <button type="reset" class="btn btn-danger">Hủy</button>
                        </div>

                    </div>
                </div>
            </div>
                }



            </div>
        </div>





    </div>





</body>
</html>
