@model  List<Web_Sach.Models.EF.OrderDetail>
@{
    ViewBag.Title = "OrderDetail";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var order = (Web_Sach.Models.DonHang)ViewBag.order;
    double tong = 0;
    var count = 1;
}
<h2>Chi tiết đơn hàng</h2>
<div class="card mb-4">
    
    <div class="card-body">
        <div class="row ">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Mã đơn hàng</label>
                    <p class="form-control"> @order.ID</p>

                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label>Họ tên khách hàng</label>
                    <p class="form-control"> @order.TenKH</p>

                </div>
            </div>

        </div>

        <div class="row ">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Tổng tiền</label>
                    <p class="form-control"> @(order.TongTien.HasValue ? order.TongTien.Value.ToString("N0"): "")</p>

                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label>Số điện thoại</label>
                    <p class="form-control">@order.Moblie</p>

                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Ngày tạo</label>
                    <p class="form-control"> @(order.NgayDat.HasValue ? order.NgayDat.Value.ToString("dd/MM/yyyy") :"")</p>

                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label>Email</label>
                    <p class="form-control"> @order.Email </p>

                </div>
            </div>





        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Trạng thái</label>
                    <p class="form-control"> @(order.Status ==1 ?"Chờ xử lý" :"Đang vận chuyển")</p>

                </div>
            </div>

            <div class="col-md-6">

            </div>





        </div>


        <div class="row mt-5 ">
            <div class="col-md-12 text-center mb-4">
               <h2>DANH SÁCH SẢN PHẨM</h2>
            </div>

            <div class="col-md-12">

                <table class="table table-bordered" style="text-align:center">
                    <thead>
                        <tr>
                           <th>STT</th>
                            <th>Tên sản phẩm</th>
                            <th>Giá</th>
                            <th>Số lượng</th>
                            <th>Thành tiền</th>
                          
                           

                        </tr>
                    </thead>

                    <tbody>
                   @foreach(var item in Model)
                   {
                      
                       var price = item.PriceBuy - item.PriceBuy * item.Sale / 100;
                       var total = price * item.QuantityBuy;
                       tong += total;
                        <tr>
                            <td>@count</td>
                            <td>@item.sachName</td>
                            <td>@price.ToString("N0")</td>
                            <td>@item.QuantityBuy</td>
                            <td>@(total.ToString("N0"))</td>


                        </tr>
                       count++;

                   }
                        <tr>
                            <th colspan="5" style="text-align:right" >
                                @tong.ToString("N0")
                            </th>
                        </tr>


                    </tbody>

                </table>














            </div>





        </div>




















    </div>


  

</div>

